<?xml version="1.0"?>

  

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FDA_CERTIFICATE_MDC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LGTCPNConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGTCPN;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGTFOODConnectionString" connectionString="Data Source=10.111.28.130;Initial Catalog=LGT_FOOD_NEW;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGTPERMISSIONConnectionString1" connectionString="Data Source=10.111.28.103;Initial Catalog=LGT_PERMISSION;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_SIPConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGT_SIP;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_JobConnectionString" connectionString="Data Source=10.111.28.106;Initial Catalog=FDA_JOB2;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DUMP_DATAConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_JOB2ConnectionString" connectionString="Data Source=10.111.28.106;Initial Catalog=FDA_JOB2;User ID=fusion;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_FOOD_DEMO2ConnectionString" connectionString="Data Source=10.111.28.130;Initial Catalog=LGT_FOOD_NEW;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_MDC_DEMOConnectionString" connectionString="Data Source=10.111.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_CFS_CENTERConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_CFS_CENTER_DEMO5;Persist Security Info=True;User ID=fusion"
      providerName="System.Data.SqlClient" />
    <add name="FDA_MDC_DEMOConnectionString2" connectionString="Data Source=10.111.28.134;Initial Catalog=FDA_MDC_DEMO;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_MDCConnectionString" connectionString="Data Source=10.111.28.134;Initial Catalog=FDA_MDC_DEMO;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_CERTIFICATE_MDC.My.MySettings.FDA_MDC_DEMOConnectionString"
      connectionString="Data Source=10.111.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_CERTIFICATE_MDC.My.MySettings.FDA_MDC_DEMOConnectionString1"
      connectionString="Data Source=10.111.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="12100000" />
  </system.web>


  <!--<appSettings>
    <add key="PATH_PDF_TEMPLATE" value="C:\path\MDC\PDF_TEMPLATE\"/>
    <add key="PATH_XML_CLASS" value="C:\path\MDC\XML_CLASS\"/>
    <add key="PATH_PDF_XML_CLASS" value="C:\path\MDC\PDF_XML_CLASS\"/>
    <add key="PATH_PDF_TRADER" value="C:\path\MDC\PDF_TRADER\"/>
    <add key="PATH_XML_TRADER" value="C:\path\MDC\XML_TRADER\"/>
    <add key="PATH_FILE" value="C:\path\MDC\"/>
    <add key="PATH_WORD_TEMPLETE" value="C:\path\MDC\WORD_TEMPLATE\"/>
    <add key="STATUS_DEMO" value="0"/>
  </appSettings>-->

  <!--<appSettings>
    <add key="PATH_PDF_TEMPLATE" value="D:\path\MDC_DEMO\PDF_TEMPLATE\" />
    <add key="PATH_XML_CLASS" value="D:\path\MDC_DEMO\XML_CLASS\" />
    <add key="PATH_PDF_XML_CLASS" value="D:\path\MDC_DEMO\PDF_XML_CLASS\" />
    <add key="PATH_PDF_TRADER" value="D:\path\MDC_DEMO\PDF_TRADER\" />
    <add key="PATH_XML_TRADER" value="D:\path\MDC_DEMO\XML_TRADER\" />
    <add key="PATH_FILE" value="D:\path\MDC_DEMO\" />
    <add key="PATH_WORD_TEMPLETE" value="D:\path\MDC_DEMO\WORD_TEMPLATE\" />
    <add key="STATUS_DEMO" value="0" />
  </appSettings>-->

  <appSettings>
    <add key="PATH_PDF_TEMPLATE" value="C:\path\MDC\PDF_TEMPLATE\"/>
    <add key="PATH_XML_CLASS" value="C:\path\MDC\XML_CLASS\"/>
    <add key="PATH_PDF_XML_CLASS" value="C:\path\MDC\PDF_XML_CLASS\"/>
    <add key="PATH_PDF_TRADER" value="C:\path\MDC\PDF_TRADER\"/>
    <add key="PATH_XML_TRADER" value="C:\path\MDC\XML_TRADER\"/>
    <add key="PATH_FILE" value="C:\path\MDC\"/>
    <add key="PATH_WORD_TEMPLETE" value="C:\path\MDC\WORD_TEMPLATE\" />
    <add key="STATUS_DEMO" value="0"/>
  </appSettings>
  <!--STATUS_DEMO ถ้าเอาลงเซิฟจริงให้ใช้เป็น 0 ถ้าลง DEMO ให้เป็น 1-->
  
    
  <applicationSettings>
    <FDA_CERTIFICATE_MDC.My.MySettings>
      <setting name="FDA_CERTIFICATE_MDC_WS_MAIL_FDA_MAIL" serializeAs="String">
        <value>http://10.111.28.108/Mail/FDA_MAIL.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_AUTHEN_Authentication"
        serializeAs="String">
        <value>http://10.111.28.104/ws_authen2/AUTHENTICATION.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_AUTHEN3_Authentication"
        serializeAs="String">
        <value>http://10.111.28.104/WS_AUTHEN3/AUTHENTICATION.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_GETDATE_WORKING_Service1"
        serializeAs="String">
        <value>http://10.111.28.108/WS_DATE/Service1.svc</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_TaxnoAuthorize_BSN_WebService1"
        serializeAs="String">
        <value>http://10.111.28.108/WS_TaxnoAuthorize_BSN/WS_TaxnoAuthorize_BSN.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_Taxno_TaxnoAuthorize_2_WebService1"
        serializeAs="String">
        <value>http://10.111.28.108/WS_get_Profile_By_Identify/WS_Taxno_TaxnoAuthorize.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_SV_CHECK_PAYMENT_SV_CHECK_PAYMENT"
        serializeAs="String">
        <value>http://10.111.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_CHECK_PAYMENT.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_ERROR_CENTER_WS_ERROR_CENTER"
        serializeAs="String">
        <value>http://10.111.28.105/WS_ERROR_CENTER/WEB_SERVICE/WS_ERROR_CENTER.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_FDA_SMS_FDA_SMS" serializeAs="String">
        <value>http://10.111.28.108/WS_SMS/FDA_SMS.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_STOP_SAT_SUN_Service1" serializeAs="String">
        <value>http://164.115.28.108/WS_DATE/Service1.svc</value>
      </setting>
    </FDA_CERTIFICATE_MDC.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>











<!--<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FDA_CERTIFICATE_MDC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LGTCPNConnectionString" connectionString="Data Source=164.115.28.103;Initial Catalog=LGTCPN;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="LGTFOODConnectionString" connectionString="Data Source=164.115.28.130;Initial Catalog=LGT_FOOD_NEW;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="LGTPERMISSIONConnectionString1" connectionString="Data Source=164.115.28.103;Initial Catalog=LGT_PERMISSION;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="LGT_SIPConnectionString" connectionString="Data Source=164.115.28.103;Initial Catalog=LGT_SIP;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="LGT_JobConnectionString" connectionString="Data Source=164.115.28.106;Initial Catalog=FDA_JOB2;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DUMP_DATAConnectionString" connectionString="Data Source=164.115.28.124;Initial Catalog=FDA_XML;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="FDA_JOB2ConnectionString" connectionString="Data Source=164.115.28.106;Initial Catalog=FDA_JOB2;User ID=fusion;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="LGT_FOOD_DEMO2ConnectionString" connectionString="Data Source=164.115.28.130;Initial Catalog=LGT_FOOD_NEW;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="FDA_MDC_DEMOConnectionString" connectionString="Data Source=164.115.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
    <add name="FDA_CFS_CENTERConnectionString" connectionString="Data Source=164.115.28.124;Initial Catalog=FDA_CFS_CENTER_DEMO5;Persist Security Info=True;User ID=fusion"
        providerName="System.Data.SqlClient" />
    <add name="FDA_CERTIFICATE_MDC.My.MySettings.FDA_MDC_DEMOConnectionString"
        connectionString="Data Source=164.115.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion"
        providerName="System.Data.SqlClient" />
    <add name="FDA_CERTIFICATE_MDC.My.MySettings.FDA_MDC_DEMOConnectionString1"
        connectionString="Data Source=164.115.28.134;Initial Catalog=FDA_MDC_DEMO;User ID=fusion;Password=P@ssw0rd"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  />
  </system.web>


  <appSettings>
    <add key="PATH_PDF_TEMPLATE" value="C:\path\MDC\PDF_TEMPLATE\"/>
    <add key="PATH_XML_CLASS" value="C:\path\MDC\XML_CLASS\"/>
    <add key="PATH_PDF_XML_CLASS" value="C:\path\MDC\PDF_XML_CLASS\"/>
    <add key="PATH_PDF_TRADER" value="C:\path\MDC\PDF_TRADER\"/>
    <add key="PATH_XML_TRADER" value="C:\path\MDC\XML_TRADER\"/>
    <add key="PATH_FILE" value="C:\path\MDC\"/>
    <add key="STATUS_DEMO" value="1"/>
  </appSettings>
  <applicationSettings>
    <FDA_CERTIFICATE_MDC.My.MySettings>
      <setting name="FDA_CERTIFICATE_MDC_WS_MAIL_FDA_MAIL" serializeAs="String">
        <value>http://164.115.28.108/Mail/FDA_MAIL.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_AUTHEN_Authentication"
        serializeAs="String">
        <value>http://164.115.28.104/ws_authen2/AUTHENTICATION.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_AUTHEN3_Authentication"
        serializeAs="String">
        <value>http://164.115.28.104/WS_AUTHEN3/AUTHENTICATION.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_GETDATE_WORKING_Service1"
        serializeAs="String">
        <value>http://164.115.28.108/WS_DATE/Service1.svc</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_TaxnoAuthorize_BSN_WebService1"
        serializeAs="String">
        <value>http://164.115.28.108/WS_TaxnoAuthorize_BSN/WS_TaxnoAuthorize_BSN.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_Taxno_TaxnoAuthorize_2_WebService1"
        serializeAs="String">
        <value>http://164.115.28.108/WS_get_Profile_By_Identify/WS_Taxno_TaxnoAuthorize.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_SV_CHECK_PAYMENT_SV_CHECK_PAYMENT"
        serializeAs="String">
        <value>http://164.115.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_CHECK_PAYMENT.asmx</value>
      </setting>
      <setting name="FDA_CERTIFICATE_MDC_WS_ERROR_CENTER_WS_ERROR_CENTER"
        serializeAs="String">
        <value>http://164.115.28.105/WS_ERROR_CENTER/WEB_SERVICE/WS_ERROR_CENTER.asmx</value>
      </setting>
    </FDA_CERTIFICATE_MDC.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>-->

